name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  # Backend Job
  backend:
    name: Build and Push Backend to DockerHub
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Docker
        uses: docker/setup-buildx-action@v2

      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0

      - name: Build with Gradle Wrapper
        run: ./gradlew clean build
        working-directory: ./trivia_api

      - name: Build and Push Backend Image
        run: |
          docker build -t mqzcn/trivia_java:latest -f ./trivia_api/Dockerfile ./trivia_api
          docker push mqzcn/trivia_java:latest

# Frontend Job
  frontend:
    name: Build and Push Frontend to DockerHub
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Set up Docker
        uses: docker/setup-buildx-action@v2
      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and Push Frontend Image
        run: |
          docker build -t mqzcn/trivia_react:latest -f ./trivia_frontend/Dockerfile ./trivia_frontend
          docker push mqzcn/trivia_react:latest
